<h1 class="mt-4">Formulário de Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
  <form #clienteForm="ngForm" (ngSubmit)="enviar()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success === true">
          Cliente salvo com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErroCEPInvalido">
          {{ mensagemErroCEPInvalido }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Nome Completo: *</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>E-Mail: </label>
          <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>CPF: </label>
          <input type="text" class="form-control" [(ngModel)]="cliente.cpf" name="cpf" mask="CPF_CNPJ">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Origem do Cliente: </label>
           <select class="form-select form-control" [(ngModel)]="cliente.origemCliente" name="origemCliente">
              <option selected></option>
              <option value="Site">Site</option>
              <option value="Instagram">Instagram</option>
              <option value="Indicação">Indicação</option>
              <option value="Outros">Outros</option>
            </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Telefone: *</label>
          <input type="tel" class="form-control" [(ngModel)]="cliente.telefone" name="telefone" prefix="+55" mask="(00) 0000-0000||(00) 00000-0000">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Telefone(2):</label>
          <input type="tel" class="form-control" [(ngModel)]="cliente.telefone2" name="telefone2" prefix="+55" mask="(00) 00000-0000">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Telefone(3):</label>
          <input type="tel" class="form-control" [(ngModel)]="cliente.telefone3" name="telefone3" prefix="+55" mask="(00) 00000-0000">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Observação: </label>
          <input type="text" class="form-control" [(ngModel)]="cliente.observacao" name="observacao">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngIf="cliente.dataCadastro">
        <div class="form-group">
          <label>Data Cadastro: </label>
          <input type="text" class="form-control" disabled="true" [ngModel]="cliente.dataCadastro" name="dataCadastro" >
        </div>
      </div>
      <div class="col-md-2" *ngIf="cliente.id">
        <div class="form-group">
          <label>Status: </label>
           <select class="form-select form-control" [(ngModel)]="cliente.ativo" name="ativo">
              <option selected></option>
              <option value="true">Ativo</option>
              <option value="false">Inativo</option>
            </select>
        </div>
      </div>
    </div>
    <hr>
    <div>
         <h4 style="text-align: center; background-color: lightgray;">Endereço(s) <button class="btn btn-primary" type="button" (click)="addEndereco()">+</button></h4>
    </div>
    <div [formGroup]="enderecoForm">
      <div formArrayName="enderecos">
        <div *ngFor="let endereco of enderecos; let i = index" [formGroupName]='i'>
          <h5 style="text-align: center;">Endereço({{ i + 1 }}) <button class="btn btn-danger" type="button" (click)=removerEndereco(i)>-</button> </h5>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>CEP: </label>
                <input type="text" class="form-control" name="cep" [(ngModel)]="cliente.enderecos[i].cep" (blur)="preencherCep($event, i)" size="10" maxlength="9" formControlName="cep">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Endereço: *</label>
                <input type="text" class="form-control"  name="logradouro" [(ngModel)]="cliente.enderecos[i].logradouro" formControlName="logradouro">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Complemento: </label>
                <input type="text" class="form-control"  name="complemento" [(ngModel)]="cliente.enderecos[i].complemento" formControlName="complemento">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Bairro: *</label>
                <input type="text" class="form-control" name="bairro" [(ngModel)]="cliente.enderecos[i].bairro" formControlName="bairro">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Municipio: *</label>
                <input type="text" class="form-control" name="municipio" [(ngModel)]="cliente.enderecos[i].municipio" formControlName="municipio">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Estado: *</label>
                <input type="text" class="form-control" name="estado" [(ngModel)]="cliente.enderecos[i].estado" formControlName="estado">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Ponto de Referencia: </label>
                <input type="text" class="form-control" name="pontoDeReferencia" [(ngModel)]="cliente.enderecos[i].pontoDeReferencia" formControlName="pontoDeReferencia">
              </div>
            </div>
          </div>
          <!-- <button class="btn btn-danger" type="button" (click)=removerEndereco(i)>-</button> -->
          <hr>
        </div>
      </div>
      <!-- <button class="btn btn-primary mb-2" type="button" (click)="addEndereco()">+</button> -->
    </div>
      <div class="row">
      <div class="col-md-0">
        <button type="submit" class="btn btn-success ml-3" *ngIf="!cliente.id" >
          <i class="fa fa-save"></i> Salvar
        </button>
        <button type="submit" class="btn btn-primary ml-3" *ngIf="cliente.id" >
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
      </div>
        <button type="button" class="btn btn-danger ml-1" (click) = "voltarParaLista()" >
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
    </div>
  </form>

