<h1 class="mt-4">Profissionais</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
    </div>
    <div class="alert alert-danger" role="alert" *ngif="mensagemErro">
      {{ mensagemErro }}
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click) = "novoCadastro()">
        <i class="fa fa-plus"></i> Novo</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Bairro</th>
            <th>Telefone</th>
            <th>Tipo Serviço</th>
            <th>Aprovado</th>
            <th>Ativo</th>
            <th>Data do Cadastro</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profissional of profissionais">
            <td> {{ profissional.nome }}</td>
            <td> {{ profissional.cpf }}</td>
            <td> {{ profissional.bairro }}</td>
            <td> {{ profissional.telefone }}</td>
            <td> {{ profissional.tipoServico }}</td>
            <td> {{ profissional.aprovado }}</td>
            <td> {{ profissional.ativo }}</td>
            <td> {{ profissional.dataCadastro }}</td>
            <td>
              <button class="btn btn-primary" routerLink="/profissionais/cadastro/{{ profissional.id }}">
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger" data-toggle="modal" data-target="#modalDelecao" (click)="confirmarDelecao(profissional)">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Confirmação</h4>
          </div>
          <div class="modal-body" *ngIf="profissionalSelecionado">
            Confirma a deleção do(a) Profissional {{profissionalSelecionado.nome }}?
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" (click)="deletarProfissional()" data-dismiss="modal">Confirmar</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
  </div>

